# Настройки базы данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=currency_db
DB_USER=postgres
DB_PASSWORD=postgres

# Настройки API для получения курсов валют
# Получи ключ бесплатно на https://app.exchangerate-api.com/sign-up
API_KEY=ваш ключ
API_URL=https://api.exchangerate-api.com/v4/latest/USD

# Интервал запросов в минутах
FETCH_INTERVAL=10